.AppHeader-wrapper {
    grid-column-start:1;
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 3;
    gap:5px;
    padding:5px;        
    font-size: 1em;    
    display: grid;
    grid-template-columns: 1fr repeat(2,6fr) 1fr;
  }
  
  
  